body{
    size: 20%;
}
img{
    height: 100vw;
    max-height: 30px;
}

.newline{
    display: block;
}
.row {
    display: block;
    flex-direction: column;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container div{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 30px;
    font-size: larger;
}

.selector, #menu {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.selector img{
    margin: 3px;
}

.selected{
    outline: 5px solid rgb(0, 89, 255);
}

.y5 {
    /* margin-right: 3px; */
    border-right: 3px solid black;
}

.x5 {
    border-bottom: 3px solid black;
}

.y0 {
    border-left: 3px solid black;
}

.x0 {
    border-top: 3px solid black;
}